---
---

<html lang='en'>
    <head>
        <meta charset='utf-8' />
        <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
        <meta name='viewport' content='width=device-width' />
        <meta name='generator' content={Astro.generator} />
        <title>Astro Blog</title>
    </head>
    <body>
        <h1>About me!</h1>
        <h2>An Astro blog:</h2>
        <p>
            This is just a test site I am doing to see what all the fuzz is
            about.
        </p>
        <p>
            I keep hearing that astro and it's Islands Architecture is the next
            big thing so I needed to try it out for myself.
        </p>

        <a href="/">Go back home</a>
    </body>
</html>
